.personal-details {
  padding: 1rem;
  background-color: #5D0E41;
  color: #f0d2ea;
  font-family: "Raleway", sans-serif;
}

.my-name {
  font-weight: 800;
  font-size: 4rem;
}

.my-description {
  font-size: 1.2rem;
}

h1 {
  margin: 0;
}

.greeting {
  font-size: 1.2rem;
}

.profile-pic {
  width: 20rem;
  height: 20rem;
}

.container {
  display: flex;
}

.name-about, .profile-img {
  padding: 3rem 7rem;
  width: 50%;
}

.name-about {
  padding-left: 10rem;
}

.profile-img {
  text-align: center;
}


.github-button, .linkedin-button {
  border: 1px solid;
  border-color: #FFB1B1 !important;
  margin: 3rem 0.5rem !important;
}

p.github, p.linkedin {
  margin: 0 1.2rem !important;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

/* .profile-img {
  float: right;
} */