/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  margin: 0;
}

.header-container {
  display: flex;
  background-color: #00224D;
  padding: 0.5rem;
}

img {
  height: 2rem;
  width: 2rem;
}

.MuiButton-root {
  color: #f0d2ea !important;
  margin: 0 0.5rem !important;
}

.header-img {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: #f0d2ea;
}

.header-buttons {
  margin-left: auto;
}

.title {
  margin: 0;
}

